@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; }
body { @apply font-sans antialiased; }

@font-face {
  font-family: 'Petaluma';
  src: url('/fonts/Petaluma.otf') format('opentype');
  font-display: swap;
}
.petaluma { font-family: 'Petaluma', 'Bravura', serif; }
